.header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.header.search-page {
    background: none;
    border: 0;
}
.header.search-page .header-logo,
.header.search-page .header-search {
    display: none;
}
.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0 20px;
}
.header-logo {
    width: 170px;
}
.col-3 {
    flex: 1;
    width: 33.3333%;
}
.align-right {
    text-align: right;
}