.header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.header.search-page {
    background: none;
    border: 0;
}
.header.search-page .header-logo,
.header.search-page .header-search {
    display: none;
}
.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0 20px;
}
.header-logo {
    width: 170px;
}
.header-search {
    padding-top: 2px;
}
.header-search input {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 8px 20px;
    font-size: 15px;
    line-height: 1.5em;
    background-image: url('/public/images/icons/search-icon.webp');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 97% center;
}
.col-3 {
    flex: 1;
    width: 33.3333%;
}
.align-right {
    text-align: right;
}